@model Models.ChangePasswordModel
@{Html.EnableUnobtrusiveJavaScript(true);}
@using (Ajax.BeginForm(new AjaxOptions() { UpdateTargetId = "Main" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>密码修改</legend>
        <div style="clear: both;">
            <div class="editor-label">
                @Html.LabelFor(model => model.OldPassword)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.OldPassword)
                @Html.ValidationMessageFor(model => model.OldPassword)
            </div>
        </div>
        <div style="clear: both;">
            <div class="editor-label">
                @Html.LabelFor(model => model.NewPassword)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.NewPassword)
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>
        </div>
        <div style="clear: both;">
            <div class="editor-label">
                @Html.LabelFor(model => model.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>
        @{Html.RenderPartial("Button_Submit");}
    </fieldset>
}
