@model Models.ProductTypes
@{
    ViewBag.Title = "Details";
}
<div id="buttons">
    @{Html.RenderPartial("Button_Back2List");}
</div>
<fieldset>
    <legend>详细信息</legend>
    <table cellpadding="5px" cellspacing="1">
        <tr>
            <th>
                @Html.LabelFor(model => model.Name)
            </th>
            <td>
                @Model.Name
            </td>
		</tr>

        <tr>
            <th>
                @Html.LabelFor(model => model.Description)
            </th>
            <td>
                @Model.Description
            </td>
		</tr>

        <tr>
            <th>
                @Html.LabelFor(model => model.Sequence)
            </th>
            <td>
                @Model.Sequence
            </td>
		</tr>

        <tr>
            <th>
                @Html.LabelFor(model => model.ParentId)
            </th>
            <td>
                @Model.ParentId
            </td>
		</tr>
    </table>
</fieldset>

